.expandedWrapper {
    padding: 1rem;
    margin-top: 1rem;
    background: #1b1b1b;
    border-radius: 15px;
  }
  
  .image {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .description {
    margin-bottom: 1rem;
  }
  
  .technologies span {
    margin-right: 0.5rem;
    background: #2a2a2a;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
  }
  
  .links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  .description {
    white-space: pre-line;
    line-height: 1.75;
  }
  
  