.content {
  padding: 12rem 12rem 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-top: 10px;
  color: var(--txt);
  font-size: 4.5rem;
  font-weight: 200;
}
.pdfWrapper {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.pdf {
  width: 100%;
  max-width: 900px;   // gör den inte för stor
  height: 1100px;     // justera vid behov
  border: none;
  border-radius: 12px;
  background: #fff;
}


.filesImg {
  width: 35%;
  min-width: 120px;
  padding: 1rem;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .hero-svg2 {
    fill: #8a4ca8;
  }
}

.pdfWrapper {
  width: 100%;
  max-width: 900px; /* Minska maxbredden på CV-bilden */
  margin: 2rem auto; /* Centrera den på sidan */
  padding: 1rem 0;
}
@media (max-width: 600px) {
  .pdfWrapper {
    max-width: 100%; // fyller hela skärmen på små enheter
    padding: 1rem 0;
  }
}


.downloadText {
  margin-left: 8px;
  text-transform: uppercase;
}
.filename {
  padding-top: 3px;
  text-transform: uppercase;
  font-size: 12px;
}


@media (max-width: 600px) {
  .header {
    padding-bottom: 10px;
  }
  .title {
    font-size: 3rem;
  }

  .pdfWrapper {
    width: 100%;
    padding: 2rem 0;
  }
}

@media (max-width: 925px) {
  .content {
    padding: 9rem 3rem 1rem;
  }
  .title {
    font-size: 4rem;
  }
}